/* Color */

body {
	background-color: rgb(158, 255, 245);
  text-align: center;
}

h1 {
	background-color: #f95d5d;
  color: rgb(255, 223, 179);
  padding: 30px;
}

p {
	color: rgb(158, 158, 255);
	font-weight: bold;
  background-color: #f2ffb3;
}

h4 {
  background-color: #f2ffb3;
}

.results {
  font-weight: bold;
}

h3 {
  background-color: #f9a9a9;
  padding: 10px;
}    